/* Form Styles */

body{
  margin: 0;
  background-color: #003399;
  font-family: 'montserratthin';
  font-size: 14px;
  font-weight: 900;
  
}


.registration-form {
    width: 400px;
    margin: 50px auto;
    margin-right: 50px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  h1, h2 {
    text-align: center;
    color: #003399;
    /* font-family: 'Montserrat ExtraBold'; */
    font-family: 'luckiest_guyregular', sans-serif;
    letter-spacing: 0.5px;
    font-size: 29px;
  }
  
  .form-group {
    margin-bottom: 18px;
  }
  
  .form-group label {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: 10px;
    transform: translateY(-7px);
    color: #000000;
    z-index: 1;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #020202;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submit-btn, .download-btn, .read-more-btn {
    width: 100%; height: 55px;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    color: white;
    background-color: #003399;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'luckiest_guyregular', sans-serif;
    letter-spacing: 0.3px;
    font-size: 29px;
  }

  .download-btn{
    background-color: #216f44;
  }


  
  .submit-btn:hover, .download-btn:hover, .read-more-btn:hover {
    background-color: #2654ae;
  }

  .download-btn:hover{
    background-color: #3d825c;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .registration-form{
    ul li {
      background-color: #e9ecef;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
    }
  }
 
  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Close Icon Styles */
  .close-modal-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: red; /* Close button is now red */
    transition: color 0.3s ease;
  }
  
  .close-modal-icon:hover {
    color: darkred; /* Darker red on hover */
  }
  
  /* Modal Body (Scrollable Content) */
  .modal-body {
    max-height: 300px; /* Limit the height */
    overflow-y: auto;  /* Enable scrolling */
    padding-right: 10px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* For Firefox */
  }
  
  /* Webkit Scrollbar for Material UI Fade Effect */
  .modal-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .modal-body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .modal-body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .registration-form {
      width: 300px;
      margin: 20px auto;
      margin-bottom: 0;
    }
  
    .modal-content {
      width: 90%;
    }
  }
/* Success Popup styling */
.success-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4BB543; /* Success green color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.custom-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.country-input-container {
  position: relative;
  margin-bottom: 16px; /* Adjust margin to match other inputs */
}

.country-input {
  width: 94%; /* Ensure it matches other input boxes */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.country-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.country-option {
  padding: 8px;
  cursor: pointer;
}

.country-option:hover {
  background-color: #f0f0f0;
}

.footerImage{
  margin: 0; padding: 0;
  width: 100%; height: 100px;
  position: fixed;
  bottom: 0;
}

.topImage{
  margin: 0; padding: 0;
  width: 100%; height: 12px;

  @media (max-width: 768px) {
    height: 10px; width: 100%;
  }
}

/* Container for the left-bottom text */
.left-bottom-container {
  position: fixed;
  bottom: 80px;
  left: 40px;
  color: #ffffff; /* White text color */
  font-family: 'luckiest_guyregular', sans-serif;
  z-index: 1000; /* Make sure it stays on top of other elements */
}

.left-bottom-container h1 {
  font-size: 6rem; /* Adjust the size of 'Bioskop' */
  margin: 0;
  color: #fff;
  text-shadow: 2px 10px 5px #FF02FD;
}

.left-bottom-container p {
  font-family: 'montserratthin';
  font-size: 2rem; /* Adjust the size of 'a short film' */
  margin-top: 0;
}

/* Media Query to hide text on mobile view */
/* @media (max-width: 768px) {
  .left-bottom-container {
      display: none; 
  }
} */


/* Mobile styles */
@media (max-width: 768px) {
  .left-bottom-container {
    position: static;
    text-align: center;
  }

  .left-bottom-container h1 {
    font-size: 4rem; /* Smaller size for mobile */
    margin-bottom: 5px;
  }

  .left-bottom-container p {
    font-size: 14px; 
  }
}

@media (min-width:768px) and (max-width:886px ) {

  .left-bottom-container h1 {
    font-size: 3.5rem; /* Smaller size for mobile */
    margin-bottom: 5px;
  }

  .left-bottom-container p {
    font-size: 14px; /* Smaller description text for mobile */
  }

}


@media (min-width: 886px) and (max-width: 1098px) {

  .left-bottom-container h1 {
    font-size: 5rem; /* Smaller size for mobile */
    margin-bottom: 5px;
  }

  .left-bottom-container p {
    font-size: 14px; /* Smaller description text for mobile */
  }
}



/* Container for the left-top text */
.left-top-container {
  cursor: pointer;
  position: fixed;
  top: 80px;
  left: 40px;
  color: #ffffff; /* White text color */
  font-family: 'montserratthin';
  z-index: 1000; /* Make sure it stays on top of other elements */
}

.left-top-container h1 {
  font-size: 2rem;
  font-family: 'Montserrat ExtraBold';
  margin: 0;
  color: #fff;
  text-align: left;
  span{
    color: #FFCC00;
  }
}

.mbareart{
  width: 100px;
  position: fixed;
  left: 40px;
}

@media (max-width: 768px) {
  .left-top-container {
    display: none;
    /* top: 20px;
    display: flex;
    justify-content: center;
    align-items: ; */
    h1{
      font-size: 1rem;
      line-height: 14px;
    }
    
  }

  .mbareart{
    position: fixed;
    left: 37%;
    bottom: 0;
  }
}

.Orb{
  position: absolute;
  opacity: 80%;
  top: 20%;
  left: 55%;
  width: 50px;
  height: 50px;
  z-index: -1;

  @media (max-width: 768px) {
    left: 5%;
}

}

